<% provide(:title, '') %>
<br/>
<div class="center hero-unit">
  <h1>Welcome to the Prototype</h1>
  
  <h2>
    受発注管理ツールプロトタイプ
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<%= link_to image_tag("rubyonrails.png", size:"100x100", align:"left", alt: "Ruby on Rails"), 'http://rubyonrails.org/' %>

