<footer class="footer">
  <small>
    Powered up by <a href="http://rubyonrails.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to about_path do %><i class="icon-info-sign"></i>About<% end %>
      </li>
      <li><%= link_to contact_path do %><i class="icon-envelope"></i>Contact<% end %></li>
      <li><a href="#"><i class="icon-bell"></i>News</a></li>
    </ul>
  </nav>
</footer>